@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?3dfwui");
  src: url("fonts/icomoon.eot?3dfwui#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?3dfwui") format("truetype"), url("fonts/icomoon.woff?3dfwui") format("woff"), url("fonts/icomoon.svg?3dfwui#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cross:before {
  content: "\1f5d9"; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CSS Mobile Reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: Arial,  sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background: #fff;
  padding: 5px;
  color: #000;
  word-wrap: break-word;
  -webkit-text-size-adjust: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

p img {
  float: left;
  margin: 0 10px 5px 0;
  padding: 0; }

img {
  border: 0;
  max-width: 100%; }

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'BellCentannialAdress';
  src: url("bellCentannialAdress.eot");
  src: url("bellCentannialAdress?#iefix") format("embedded-opentype"), url("bellCentannialAdress.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MyriadProRegular';
  src: url("myriadpro-regular.otf"); }
/* Variaveis de Cores */
/* Vaiavel de fonte */
/* Vaiavel do Sprite */
body.teste {
  /* H E A D E R */ }
  body.teste header {
    border-bottom: 2px solid #ff9f1c;
    overflow: hidden; }
    body.teste header .header {
      margin: 0 auto;
      padding: 35px 0 90px 0;
      width: 100%; }
      body.teste header .header .logo {
        text-indent: -9999px;
        overflow: hidden;
        font-size: 0;
        background-image: url("sprite.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 194px;
        height: 55px;
        float: left;
        margin-left: 30px; }
      body.teste header .header .checkout {
        background-image: url("sprite.png");
        background-position: 0px -79px;
        background-repeat: no-repeat;
        float: right;
        position: relative;
        width: 31px;
        height: 37px;
        margin-right: 30px; }
      body.teste header .header .checkout-bg {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        float: right;
        position: relative;
        width: 18px;
        height: 18px;
        background-color: #ff9f1c;
        top: 7px;
        left: 3px; }
        body.teste header .header .checkout-bg .checkout-item {
          color: #ffffff;
          text-align: center;
          font-size: 12px; }
  body.teste #content {
    width: 100%;
    text-align: center;
    overflow: hidden; }
    body.teste #content h1 {
      font-size: 40px;
      font-family: "BellCentannialAdress";
      text-transform: uppercase;
      text-align: center;
      padding: 40px 0 20px 0; }
    body.teste #content .filter-button {
      display: block;
      float: left;
      width: 50%;
      padding: 30px 0;
      font-size: 24px;
      color: #666666;
      font-family: "OpenSans", sans-serif;
      border-top: 1px solid #666666;
      border-bottom: 1px solid #666666;
      box-sizing: border-box; }
    body.teste #content .first-filter {
      border-right: 1px solid #666; }
    body.teste #content .filter-mob {
      display: none; }
    body.teste #content .vitrine {
      clear: left;
      padding: 65px; }
      body.teste #content .vitrine .vitrine-list .vitrine-item {
        display: block;
        float: left;
        width: 50%;
        margin-top: 60px; }
        body.teste #content .vitrine .vitrine-list .vitrine-item .vitrine-tit {
          font-family: "BellCentannialAdress";
          font-size: 20px;
          color: #000;
          text-transform: uppercase;
          padding: 10px 0; }
        body.teste #content .vitrine .vitrine-list .vitrine-item .price {
          display: inline-block; }
          body.teste #content .vitrine .vitrine-list .vitrine-item .price .price-old {
            display: none; }
          body.teste #content .vitrine .vitrine-list .vitrine-item .price .price-full {
            font-family: "MyriadProRegular";
            font-size: 24px;
            color: #000;
            text-transform: uppercase;
            text-align: right; }
          body.teste #content .vitrine .vitrine-list .vitrine-item .price .price-portion {
            font-family: "MyriadProRegular";
            font-size: 20px;
            color: #000;
            line-height: 0.6; }
        body.teste #content .vitrine .vitrine-list .vitrine-item .vitrine-checkout {
          background-image: url("sprite.png");
          background-position: -46px -82px;
          background-repeat: no-repeat;
          display: inline-block;
          margin-left: 10px;
          width: 52px;
          height: 40px;
          background-color: #ff9f1c; }
  body.teste footer {
    clear: left;
    background-color: #000000;
    padding: 20px;
    margin: 20px 0; }
    body.teste footer .footer-text {
      text-align: center; }
      body.teste footer .footer-text span {
        display: block;
        color: #999; }
  body.teste .menuOn-order {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #fff;
    padding-bottom: 35px;
    transition: left 0.3s ease-out; }
    body.teste .menuOn-order.menu-on {
      left: 0;
      transition: left 0.3s ease-out; }
    body.teste .menuOn-order .menuOn-order-header {
      border-bottom: 1px solid #b2b2b2; }
      body.teste .menuOn-order .menuOn-order-header .menuOn-order-tit {
        font-family: "BellCentannialAdress";
        font-size: 60px;
        color: #666666;
        padding: 40px 0 40px 35px;
        text-transform: uppercase;
        float: left; }
      body.teste .menuOn-order .menuOn-order-header .menu-fechar {
        float: right; }
      body.teste .menuOn-order .menuOn-order-header .icon-cross {
        font-size: 50px;
        color: #000000;
        padding-top: 44px;
        padding-right: 35px; }
    body.teste .menuOn-order .menuOn-order-list {
      clear: both; }
      body.teste .menuOn-order .menuOn-order-list .menuOn-order-item {
        font-family: "MyriadProRegular";
        font-size: 45px;
        color: #000000;
        padding: 50px 0 0 35px; }

/*# sourceMappingURL=estilos.css.map */
