body.teste{

	/* H E A D E R */

	header{
		border-bottom: 2px solid $color2;			
		overflow: hidden;

		.header{			
			margin:0 auto;
		    padding: 35px 0 90px 0;		
		    width: 100%;    

			.logo{
				@include hidden;
				@include background($sprite,$position:0 0,$repeat: no-repeat);
				width:194px;
				height:55px;
				float: left;			
				margin-left: 30px;
			}

			.checkout{
				@include background($sprite,$position:0px -79px,$repeat: no-repeat);
				float:right;
				position: relative;
				width:31px;
				height:37px;
				margin-right: 30px;

			}

			.checkout-bg{
				@include border-radius($border-round:50px);
				float:right;
				position: relative;			
				width: 18px;
				height: 18px;
				background-color: $color2;
			    top: 7px;
	    		left: 3px;

				.checkout-item{			
					color: $color3;
				    text-align: center;
				    font-size: 12px;
				}
			}
		}
	}

	#content{
		width:100%;
		text-align: center;		
	    overflow: hidden;
			
		h1{
			font-size: 40px;
			font-family: $font3;
			text-transform: uppercase;
			text-align: center;
		    padding: 40px 0 20px 0;
		}

		.filter-button{
			display: block;			
			float: left;
			width: 50%;
			padding:30px 0;
			font-size: 24px;
			color: $color5;
			font-family: $font1;
			border-top:1px solid $color5;
			border-bottom:1px solid $color5;						
		    box-sizing: border-box;
		}    

		.first-filter{
			border-right: 1px solid #666;
		}

		.filter-mob{
			display: none;
		}

		.vitrine{
			clear:left;
			padding:65px;

			.vitrine-list{

				.vitrine-item{
					display: block;			
					float: left;
					width: 50%;
					margin-top: 60px;

					.vitrine-tit{
						font-family: $font3;						
						font-size: 20px;
						color: #000;
						text-transform: uppercase;
						padding:10px 0;
					}

					.price{
						display: inline-block;

						.price-old{
							display: none;
						}

						.price-full{
							font-family: $font2;
							font-size: 24px;						
							color: #000;
							text-transform: uppercase;
							text-align: right;
						}

						.price-portion{
							font-family: $font2;
							font-size: 20px;						
							color: #000;
							line-height: 0.6;
						}
					}					

					.vitrine-checkout{
						@include background($sprite,$position:-46px -82px,$repeat: no-repeat);
				 		display: inline-block;
				 		margin-left: 10px;						 								 		
				 		width: 52px;
				 		height: 40px;
				 		background-color:$color2;
					}
				}
			}
		}
	}	

	footer{
		clear:left;
		background-color:$color1;
		padding:20px;
		margin: 20px 0;

		.footer-text{
			text-align: center;

			span{				
				display: block;
				color:#999;
			}
		}
	}

	.menuOn-order{
		position:fixed;
		top:0;
		left: -100%;
		width: 100%;
		background-color:#fff;
		padding-bottom:35px;
		transition: left 0.3s ease-out;

		&.menu-on{
			left: 0;
			transition: left 0.3s ease-out;
		}

		.menuOn-order-header{
			border-bottom:1px solid #b2b2b2;
			
			.menuOn-order-tit{
				font-family: $font3;
				font-size: 60px;
				color:$color5;			
				padding: 40px 0 40px 35px;  
				text-transform: uppercase;				
				float: left;
			}		

			.menu-fechar{
				float: right;
			}

			.icon-cross{
				font-size: 50px;
				color: $color1;
				padding-top: 44px;
    			padding-right: 35px;
			}
		}

		.menuOn-order-list{
			clear: both;
			
			.menuOn-order-item{
				font-family:$font2; 
				font-size: 45px;
				color: $color1;
				padding:50px 0 0 35px;
				
			}
		}
	}
}
