@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3dfwui');
  src:  url('fonts/icomoon.eot?3dfwui#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3dfwui') format('truetype'),
    url('fonts/icomoon.woff?3dfwui') format('woff'),
    url('fonts/icomoon.svg?3dfwui#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\1f5d9";
}

