@mixin radius($raio:10px){
	-webkit-border-radius: $raio;
	-moz-border-radius: $raio;
	border-radius: $raio;
}

@mixin hidden{
	text-indent:- 9999px;
	overflow:hidden;
	font-size:0;
}

@mixin background($imgpath,$position:0 0,$repeat: no-repeat){
	background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;        
    }
}

@mixin border-radius($border-round:0){
	-webkit-border-radius: $border-round;
	-moz-border-radius: $border-round;
	border-radius: $border-round;
}	

@mixin select{
	height: 30px;
	color: $color1;
	font-family: $font1;
	font-size:12px;
	letter-spacing: 1px;
	padding-left:10px;
    padding-right: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: transparent;
	border-color:#666666;
}