@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

@font-face {
  font-family: 'BellCentannialAdress';
  src: url('bellCentannialAdress.eot');
  src: url('bellCentannialAdress?#iefix') format('embedded-opentype'),    
       url('bellCentannialAdress.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('myriadpro-regular.otf');
}

/* Variaveis de Cores */

$color1: #000000;
$color2: #ff9f1c;
$color3: #ffffff;
$color4: #d8d8d8;
$color5: #666666;


/* Vaiavel de fonte */

$font1: 'OpenSans', sans-serif;
$font2: 'MyriadProRegular';
$font3: 'BellCentannialAdress';
$font4: 'Libre Baskerville', serif;


/* Vaiavel do Sprite */

$sprite:("sprite.png");