/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'BellCentannialAdress';
  src: url("fonts/bellCentannialAdress.eot");
  src: url("fonts/bellCentannialAdress?#iefix") format("embedded-opentype"), url("fonts/bellCentannialAdress.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Variaveis de Cores */
/* Vaiavel de fonte */
/* Vaiavel do Sprite */
body.teste {
  /* H E A D E R */
  /* C O N T A I N E R */
  /* F O O T E R */ }
  body.teste header {
    border-bottom: 2px solid #ff9f1c;
    overflow: hidden; }
    body.teste header .header {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto;
      padding: 34px 0; }
      body.teste header .header::after {
        clear: both;
        content: "";
        display: block; }
      body.teste header .header .logo {
        text-indent: -9999px;
        overflow: hidden;
        font-size: 0;
        background-image: url("../../img/sprite.png");
        background-position: -5px -54px;
        background-repeat: no-repeat;
        width: 104px;
        height: 29px;
        float: left; }
      body.teste header .header .checkout {
        background-image: url("../../img/sprite.png");
        background-position: -5px -18px;
        background-repeat: no-repeat;
        float: right;
        position: relative;
        width: 36px;
        height: 25px; }
      body.teste header .header .checkout-bg {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        float: right;
        position: relative;
        width: 18px;
        height: 18px;
        background-color: #ff9f1c;
        top: 7px;
        left: -5px; }
        body.teste header .header .checkout-bg .checkout-item {
          color: #ffffff;
          position: relative;
          top: 3px;
          text-align: center;
          font-size: 12px; }
  body.teste #content {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    /* S I D E  B A R */
    /* V I T R I N E */ }
    body.teste #content::after {
      clear: both;
      content: "";
      display: block; }
    body.teste #content sidebar {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%; }
      body.teste #content sidebar:last-child {
        margin-right: 0; }
      body.teste #content sidebar h1 {
        font-size: 30px;
        font-family: "BellCentannialAdress";
        text-transform: uppercase;
        padding: 35px 0 55px 0; }
      body.teste #content sidebar .filter-tit {
        font-size: 20px;
        font-family: "BellCentannialAdress";
        text-transform: uppercase;
        padding-bottom: 35px; }
      body.teste #content sidebar .filter {
        padding-bottom: 60px; }
        body.teste #content sidebar .filter li {
          font-family: "OpenSans", sans-serif; }
        body.teste #content sidebar .filter .filter-01-list, body.teste #content sidebar .filter .filter-03-list {
          /* FILTRO ATIVO */ }
          body.teste #content sidebar .filter .filter-01-list li, body.teste #content sidebar .filter .filter-03-list li {
            padding-bottom: 14px;
            position: relative;
            font-size: 14px;
            color: #000000; }
            body.teste #content sidebar .filter .filter-01-list li:before, body.teste #content sidebar .filter .filter-03-list li:before {
              content: "";
              display: inline-block;
              width: 13px;
              height: 13px;
              border: 1px solid #d8d8d8;
              margin-right: 9px; }
          body.teste #content sidebar .filter .filter-01-list li.active:after, body.teste #content sidebar .filter .filter-03-list li.active:after {
            content: "";
            display: block;
            width: 9px;
            height: 9px;
            background-color: #ff9f1c;
            position: absolute;
            left: 2px;
            top: 2px; }
        body.teste #content sidebar .filter .filter-02-list {
          width: 185px; }
          body.teste #content sidebar .filter .filter-02-list li {
            font-size: 12px;
            text-transform: uppercase;
            display: inline-block;
            border: 1px solid #e5e5e5;
            width: 30px;
            text-align: center;
            padding: 10px 0;
            margin-right: 12px;
            margin-bottom: 8px;
            color: #d7d7d7; }
          body.teste #content sidebar .filter .filter-02-list li.active {
            color: #000000;
            border-color: #ff9f1c; }
        body.teste #content sidebar .filter .filter-01-see-more {
          font-family: "OpenSans", sans-serif;
          font-size: 12px;
          text-decoration: underline;
          color: #666666; }
    body.teste #content main {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 74.46809%;
      margin-right: 0; }
      body.teste #content main:last-child {
        margin-right: 0; }
      body.teste #content main .order {
        position: relative;
        float: right;
        padding-top: 40px;
        padding-bottom: 40px; }
        body.teste #content main .order:after {
          background-image: url("../../img/sprite.png");
          background-position: -87px -28px;
          background-repeat: no-repeat;
          content: "";
          display: block;
          width: 9px;
          height: 5px;
          position: relative;
          left: 99px;
          top: -17px; }
        body.teste #content main .order .order-select {
          height: 30px;
          color: #000000;
          font-family: "OpenSans", sans-serif;
          font-size: 12px;
          letter-spacing: 1px;
          padding-left: 10px;
          padding-right: 20px;
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          appearance: none;
          background: transparent;
          border-color: #666666; }
      body.teste #content main .vitrine {
        clear: right; }
        body.teste #content main .vitrine .vitrine-list .vitrine-item {
          float: left;
          display: block;
          margin-right: 2.85714%;
          width: 31.42857%;
          margin-bottom: 50px; }
          body.teste #content main .vitrine .vitrine-list .vitrine-item:last-child {
            margin-right: 0; }
          body.teste #content main .vitrine .vitrine-list .vitrine-item:nth-child(3n) {
            margin-right: 0; }
          body.teste #content main .vitrine .vitrine-list .vitrine-item:nth-child(3n+1) {
            clear: left; }
          body.teste #content main .vitrine .vitrine-list .vitrine-item .vitrine-tit {
            font-size: 14px;
            font-family: "BellCentannialAdress";
            text-transform: uppercase;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px; }
          body.teste #content main .vitrine .vitrine-list .vitrine-item .vitrine-price {
            text-align: right; }
            body.teste #content main .vitrine .vitrine-list .vitrine-item .vitrine-price .price {
              display: inline-block;
              font-family: "Libre Baskerville", serif; }
              body.teste #content main .vitrine .vitrine-list .vitrine-item .vitrine-price .price .price-box {
                position: relative;
                top: -6px; }
                body.teste #content main .vitrine .vitrine-list .vitrine-item .vitrine-price .price .price-box .price-old {
                  display: inline-block;
                  text-decoration: line-through;
                  padding-right: 5px;
                  color: #666666;
                  font-size: 14px; }
                body.teste #content main .vitrine .vitrine-list .vitrine-item .vitrine-price .price .price-box .price-full {
                  display: inline-block;
                  font-size: 16px; }
              body.teste #content main .vitrine .vitrine-list .vitrine-item .vitrine-price .price .price-portion {
                font-size: 14px; }
            body.teste #content main .vitrine .vitrine-list .vitrine-item .vitrine-price .vitrine-checkout {
              background-image: url("../../img/sprite.png");
              background-position: -28px -11px;
              background-repeat: no-repeat;
              display: inline-block;
              margin-left: 10px;
              width: 50px;
              height: 35px;
              background-color: #ff9f1c; }
  body.teste footer {
    background-color: #000000; }
    body.teste footer .footer-text {
      color: #999;
      text-align: center;
      padding: 12px 0;
      font-family: "OpenSans", sans-serif; }

/*# sourceMappingURL=styles.css.map */
