@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 60px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 940px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);