
body.teste{

	/* H E A D E R */

	header{
		border-bottom: 2px solid $color2;			
		overflow: hidden;

		.header{
			@include outer-container;
			margin:0 auto;
		    padding: 34px 0;		    

			.logo{
				@include hidden;
				@include background($sprite,$position:-5px -54px,$repeat: no-repeat);
				width:104px;
				height:29px;
				float: left;			
			}

			.checkout{
				@include background($sprite,$position:-5px -18px,$repeat: no-repeat);
				float:right;
				position: relative;
				width:36px;
				height:25px;

			}

			.checkout-bg{
				@include border-radius($border-round:50px);
				float:right;
				position: relative;			
				width: 18px;
				height: 18px;
				background-color: $color2;
			    top: 7px;
	    		left: -5px;

				.checkout-item{			
					color: $color3;
				    position: relative;
				    top: 3px;
				    text-align: center;
				    font-size: 12px;
				}
			}
		}
	}

	
	/* C O N T A I N E R */ 	

	#content{		
		@include outer-container;
		
		/* S I D E  B A R */

		sidebar{
			@include span-columns(3);

			h1{
				font-size: 30px;
				font-family: $font3;
				text-transform: uppercase;
				padding:35px 0 55px 0;
			}			

			.filter-tit{
				font-size: 20px;
				font-family: $font3;
				text-transform: uppercase;
				padding-bottom:35px;
			}

			.filter{
				padding-bottom:60px;

				li{
					font-family: $font1;
				}

				.filter-01-list, .filter-03-list{
					
					li{
						padding-bottom:14px;	
						position: relative;								
						font-size: 14px;
						color:$color1;				

						&:before{
							content: "";
							display: inline-block;
							width: 13px;
							height: 13px;
							border: 1px solid $color4;	
							margin-right:9px;							
						}
					}

					/* FILTRO ATIVO */

					li.active{

						&:after{
							content: "";
							display: block;
							width: 9px;
							height: 9px;
							background-color: $color2;
							position: absolute;
						    left: 2px;
						    top: 2px;
						}
					}
				}

				.filter-02-list{
					width: 185px;

					li{
						font-size: 12px;
						text-transform: uppercase;
						display: inline-block;
						border:1px solid #e5e5e5;
						width: 30px;						
						text-align: center;
					    padding: 10px 0;
					    margin-right: 12px;
					    margin-bottom: 8px;
					    color: #d7d7d7;					    
					}

					li.active{						
					    color: $color1;
					    border-color: $color2;					    
					}
				}

				.filter-01-see-more{
				    font-family: $font1;
				    font-size: 12px;
				    text-decoration: underline;
					color: $color5;
				}
			}			
		}

		/* V I T R I N E */

		main{
			@include span-columns(9);
			@include omega();
			

			.order{
				position:relative;
				float: right;
				padding-top:40px;
				padding-bottom:40px;

				&:after{
						@include background($sprite,$position:-87px -28px,$repeat: no-repeat);
						content: "";
						display: block;
						width: 9px;
						height: 5px;						
						position: relative;
				        left: 99px;
						top: -17px;
					}	
				
				.order-select{
					
					@include select;			
				}
			}

			.vitrine{
				clear: right;

				.vitrine-list{

					.vitrine-item{
						@include span-columns(3 of 9);
						@include omega(3n);

						margin-bottom: 50px;

						 .vitrine-tit{
						 	font-size: 14px;
						 	font-family: $font3;
						 	text-transform: uppercase;
						 	text-align: center;		
						 	padding-top:20px;
						 	padding-bottom:15px;				 	
						 }

						 .vitrine-price{
						 	text-align: right;

						 	.price{
						 		display: inline-block;
						 		font-family: $font4;

						 		.price-box{
						 			position: relative;
    								top: -6px;

    								.price-old{
							 			display: inline-block;
							 			text-decoration: line-through;
							 			padding-right: 5px;
							 			color: $color5;
							 			font-size: 14px;
							 		}

							 		.price-full{
							 			display: inline-block;			
							 			font-size: 16px;		 			    
							 		}
						 		}		

						 		.price-portion{
						 			font-size: 14px;
						 		}				 		
						 	}

						 	.vitrine-checkout{
						 		@include background($sprite,$position:-28px -11px,$repeat: no-repeat);
						 		display: inline-block;
						 		margin-left: 10px;						 								 		
						 		width: 50px;
						 		height: 35px;
						 		background-color:$color2;
						 	}
						 }
					}
				}
			}
		}
	}

	/* F O O T E R */

	footer{				
		background-color:$color1;

		.footer-text{			
			color:#999;
			text-align: center;
			padding:12px 0;		
			font-family: $font1;	
		}
	}
}





